<p>authors works!</p>
<!-- <div class="card-group"> -->
    <div class="authors"*ngIf="authors.length > 0 ;else emptyList" >
        <app-author *ngFor="let author of authors" [authorInfo]="author"></app-author>
    </div>
  
    <ng-template #emptyList>
        <p>No Authors in the list -> <a routerLink="">navigate to home</a></p>
    </ng-template>



<!-- </div> -->
 
<!-- <div class="pagination justify-content-center ">
    <pagination-controls id="listBooks" (pageChange)="page=$event"></pagination-controls>
</div> -->

