<div class="login">
    <h3>Welcome To Admin Panel</h3>
    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span>
            <i class="fas fa-user-cog"></i>
            <input formControlName='adminName' class="t" type="text" placeholder="Enter Your UserName ...">
        </span>
        <span>
            <i class="fas fa-fingerprint"></i>
            <input formControlName='password' class="t" type="password" placeholder="Enter Your Password ...">

        </span>

        <button type="submit">Login</button>

    </form>

</div>