<p>authors works!</p>
<div class="card-group">
    <div class="books" *ngFor="let book of data| paginate:{
            id:'listBooks',
            itemsPerPage:8,
            currentPage:page,
            totalItems:totalRecords
            }">
        <div class="card" style="width: 18rem;" >
            <img src="{{book.picture.medium}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> <a href="#" style="text-decoration: none;">{{book.name.first}}</a></h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- <a href="#" class="btn btn-primary" style="background-color: #dc3545 ;color: white;">See More ?</a> -->
            </div>
        </div>
    </div>
</div>
 
<div class="pagination justify-content-center ">
    <pagination-controls id="listBooks" (pageChange)="page=$event"></pagination-controls>
</div>

