<!-- <div class="alert">
    <h3>Name:{{student.name}}</h3>
    Email: <a [routerLink]="student.id.toString()">{{student.email}}</a>
    <h3>City: {{student.city}}</h3>
    <hr><hr>
</div> -->

<div class="mx-auto">

            <h5>Book Name: </h5>{{book.bookId.name}}<br><br>
            <h5>Book Rating: </h5>{{book.rating}}<br><br>
            <img src="{{book.bookId.Cover}}" alt="No image" width="50%" height="50%"><hr><hr>
            <!-- <td><a [routerLink]="user.id.toString()">{{user.email}}</a></td> -->
</div>


